@font-face {
    font-family: 'roboto';
    src: url(roboto.ttf);
}
:root {
    --content: 60rem;
    --space: 1rem;
    --main-color: rgb(92, 214, 114);
    --main-color-2: rgb(226, 248, 230);
    --button-color: rgb(212, 236, 250);
    --button-color-2: rgb(0, 120, 210);
    --button-color-3: rgb(50, 146, 220);
    --font-color: white;
    --font-color-hover: rgb(230, 230, 230);
    --font-color-2: rgb(70, 208, 96);
    --font-color-3: #337ab7;
    --black-font: rgb(48, 48, 48);
}
html {
    font-family: 'roboto';
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.nav {
    display: flex;
    background-color: white;
    padding: 1rem;
}
.info {
    background-color: var(--main-color);
    padding: 1rem;
}
.title {
    display: block;
    margin-right: var(--space);
    color: var(---black-font);
}
.title:hover {
    cursor: pointer;
}
.infotitle {
    color: var(--font-color);
}
.search {
    flex: 1;
    padding: 0.2rem 0.4rem;
    background-color: rgb(246, 247, 248);
    outline: none;
    font-family: 'roboto';
    font-weight: bold;
    color: var(--black-font);
    border: 1px solid rgb(237, 239, 241);
    border-radius: 0.2rem;
    margin-right: var(--space);
}
.search:hover, .search:focus {
    border-color: black;
    background-color: white;
}
.content {
    width: var(--content);
    margin-left: auto;
    margin-right: auto;
}
.sign {
    color: black;
}
.sign:hover {
    cursor: pointer;
    color: darkgray;
}
.in {
    background-color: white;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
    font-weight: bold;
    color: var(--black-font);
    font-family: 'roboto';
}
.input-group {
    background-color: rgb(212,236,250);
}
.in-div {
    padding: 0.5rem;
    display: inline-block;
}
.in-label {
    color: var(--font-color-3);
}
.goto {
    display: inline-block;
    padding: 1rem;
    border: 0;
    border-radius: 0.25rem;
    background-color: var(--button-color);
    text-align: center;
}
.goto:hover {
    cursor: pointer;
    color: var(--font-color);
}
.do {
    margin-top: var(--space);
    min-width: 10rem;
    background-color: var(--button-color-2);
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.6rem 0.6rem;
    font-weight: bold;
    color: white;
    font-family: 'roboto';
}
.do:hover {
    cursor: pointer;
    background-color: var(--button-color-3);
}